<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta http-equiv="x-ua-compatible" content="ie-edge"/>  
        <title>Bienvenido a JTarot</title>
       <th:block th:include="layout/header"></th:block>
      <style>
      body {
          overflow:hidden;
        }
      </style>
    </head>
    <body>
        <div id="principal">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                              <span class="card-title">Hecho</span>
                              <span id="datos" th:text="${datos}"></span><br/>
                              <span id="descripcion" th:text="${descripcion}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            <div style="position: relative; top: -190px; left: 671px;" id="tercero">
                <img th:src="@{${carta}}"/>
            </div><br/>

            <div id="descarga" style="position: relative;top:-200px;left: 655px;">
                    <label id="ver">Descargar imagen</label>
                    <button id="previo">Ver imagen</button>
                    <a id="descargar">Aquí</a>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
                    <script src="https://files.codepedia.info/files/uploads/iScripts/html2canvas.js"></script>
                    <script>
                       $(document).ready(function(){
                        var element = $("#principal");
                        var getCanvas; 
                        $("#previo").on('click', function () {
                            html2canvas(element, {
                                onrendered: function (canvas) {
                                    $("#ver").append(canvas);
                                    getCanvas = canvas;
                                }
                            });
                        });
                        
                        $("#descargar").on('click', function () {
                            var imgageData = getCanvas.toDataURL("image/png");
                            var newData = imgageData.replace(/^data:image\/png/, "data:application/octet-stream");
                            $("#descargar").attr("download", "Tarot.png").attr("href", newData);
                        });
                           
                       });
                    </script>
                </div>



            <script th:src="@{../js/funciones.js}"></script>
            <script>
            setTimeout(function () {
                window.location.href = "/jtarot/index";
            }, 60000); 
            </script>
        </div>
       <div th:include="layout/footer"></div>
    </body>
</html>
