<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta http-equiv="x-ua-compatible" content="ie-edge"/>  
        <title>Bienvenido a JTarot</title>
       <th:block th:include="layout/header"></th:block> 
       <style>
       body {
          overflow:hidden;
        }
        </style>
    </head>
    <body>
        <div class="row" style ="position: relative; top: 50px;">
            <form class="col s12" method="GET" th:action="@{/jtarot/calcularTarot}" action="/jtarot/calcularTarot">
                <div class="input-field col s6">
                    <input placeholder="nombre" id="nombre" value="" name="nombre" type="text" class="validate"/>
                    <label for="nombre">Tu nombre</label>
                </div>
                <div class="input-field col s6">
                    <input id="date" type="date" name="fecha" value="2019-04-21" />
                    <label for="last_name"> Día de nacimiento</label>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input class="waves-effect waves-light btn" type="submit" value="Calcular carta de tarot"/>
                    </div>
                </div>
            </form>
        </div>
        <div th:include="layout/footer"></div>
    </body>
</html>
